body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.image {
    width: 200px;
    height: 200px;
}

.button {
    background-color: gray;
    padding: 15px 20px;
    color: black;
    border-radius: 10px;
    text-decoration: none; /* Remove underline */
    outline: none; /* Remove outline */
  
}

